{% extends 'base.html' %}

{% block content %}
  <h1>
    {% if form.instance.pk %}
      Editar Sala
    {% else %}
      Cadastrar Sala
    {% endif %}
  </h1>

  <form method="post" class="form-card">
    {% csrf_token %}

    <div>
      <label>Nome da Sala</label>
      {{ form.nome }}
      {% if form.nome.errors %}
        <small style="color:red;">{{ form.nome.errors.0 }}</small>
      {% endif %}
    </div>

    <button type="submit" class="btn btn-primary">Salvar</button>
    <a href="{% url 'sala_list' %}" class="btn btn-secondary">Cancelar</a>
  </form>
{% endblock %}
